
<table class="table">
    <thead>
    <tr>
        <th>단어</th>
        <th>추천</th>
    </tr>
    </thead>
    <tbody ng-repeat="candidate in candidates.candidate_words ">
        <tr>
            <td><h4><a ui-sref="wordsshow({id: {{candidate.word_id}}})">{{ candidate.word_string }}</a></h4></td>
            <td>
                {{candidate.vote}}
                <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote()"></span>
                <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote()"></span>
            </td>
        </tr>
    </tbody>
</table>

<div ng-hide="candidates.candidate_words">No words to show</div>