<div>
	<h2>{{ word.word_string }}</h2>

	<div class="panel panel-default">
      <table class="table">
            <thead>
                <tr>
                    <th>신선도</th>
                    <th>태그</th>
                    <th>추천</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tr>
            	<td>{{ word.fresh_rate }}</td>
            	<td>
                      <span ng-repeat="tag in word.tag">
                          <span class="label label-success">{{tag}}</span>
                      </span>
            	</td>
            	<td>
            	    {{ word.rank_good }} <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote()"></span> /
            	    {{ word.rank_bad }} <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote"></span>
            	</td>
            	<td>{{ word.viewed }}</td>
			</tr>
      </table>
    </div>

    <form ng-submit="updateTags()" name="tagForm">
	    <tags-input data-ng-model="word.tag" placeholder="태그를 입력하세요" min-length="1">
        </tags-input>
   	    <button type="submit" class="btn btn-default">Go!</button>
    </form>

	<p><a ui-sref="home">home</a></p>
</div>
