<div>
	<h2>{{ word.word_string }}</h2>

	<div class="panel panel-default">
      <table class="table">
            <thead>
                <tr>
                    <th>신선도</th>
                    <th>추천</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tr>
            	<td>{{ word.fresh_rate }}</td>
            	<td>
            	    {{ word.rank_good }} <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(word.word_id)"></span> /
            	    {{ word.rank_bad }} <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(word.word_id)"></span>
            	</td>
            	<td>{{ word.viewed }}</td>
			</tr>
      </table>
    </div>

    <h3>태그</h3>
    <span ng-repeat="tag in word.tag">
        <span class="label label-success">{{tag.tag_string}} {{tag.tag_rank}}</span>
        <span class="glyphicon glyphicon-thumbs-up" ng-click="tagupvote(tag.tag_id)"></span>
        <span class="glyphicon glyphicon-thumbs-down" ng-click="tagdownvote(tag.tag_id)"></span>
    </span>
    <form ng-submit="updateTags()" name="tagForm">
	    <tags-input data-ng-model="tags" display-property="tag_string" placeholder="태그 추가하기" min-length="1">
        </tags-input>
   	    <button type="submit" class="btn btn-default">Go!</button>
    </form>

    <a style="position:absolute; right:60px;" class="btn btn-default" href ng-click="show()">신고하기</a>

	<p><a ui-sref="home">home</a></p>
</div>

     <script type="text/ng-template" id="modal.html">
        <div class="ngdialog-message">
            <h3>신고하기</h3>
            <input type="text" class="form-control" placeholder="신고 사유" ng-model="report_detail">
        </div>
        <div class="ngdialog-buttons">
            <button type="button" ng-click="closeThisDialog(0)" class="btn btn-primary" data-dismiss="modal">취소</button>
            <button type="button" ng-click="confirm([1, report_detail])" class="btn btn-default" data-dismiss="modal">욕설</button>
            <button type="button" ng-click="confirm([2, report_detail])" class="btn btn-default" data-dismiss="modal">오타</button>
            <button type="button" ng-click="confirm([3, report_detail])" class="btn btn-default" data-dismiss="modal">중복</button>
            <button type="button" ng-click="confirm([4, report_detail])" class="btn btn-default" data-dismiss="modal">기타</button>
        </div>

     </script>