<div>
	<h2>{{ word.word_string }}</h2>

	<div class="panel panel-default">
      <table class="table">
            <thead>
                <tr>
                    <th>신선도</th>
                    <th>추천</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tr>
            	<td>{{ word.fresh_rate }}</td>
            	<td>
            	    {{ word.rank_good }} <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote(word.id)"></span> /
            	    {{ word.rank_bad }} <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(word.id)"></span>
            	</td>
            	<td>{{ word.viewed }}</td>
			</tr>
      </table>
    </div>

    <h3>태그</h3>
    <span ng-repeat="tag in word.tag">
        <span class="label label-success">{{tag.tag_string}} {{tag.tag_rank}}</span>
    </span>
    <form ng-submit="updateTags()" name="tagForm">
	    <tags-input data-ng-model="tags" display-property="tag_string" placeholder="태그 추가하기" min-length="1">
        </tags-input>
   	    <button type="submit" class="btn btn-default">Go!</button>
    </form>

	<p><a ui-sref="home">home</a></p>
</div>
