<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        보기 방식
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="one()">신선도로 정렬</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="two()">추천수 순 정렬</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="three()">비추천수 순 정렬</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="four()">조회수 순 정렬</a></li>
    </ul>
</div>

<table ng-show="words.dict" class="table">
    <thead>
    <tr>
        <th>단어</th>
        <th>신선도</th>
        <th>추천</th>
        <th>비추천</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody ng-repeat="word in words.dict ">
    <tr>
        <td><h4><a ui-sref="wordsshow({id: {{word.word_id}}})">{{ word.word_string }}</a></h4></td>
        <td>{{word.fresh_rate}}</td>
        <td>{{word.rank_good}}</td>
        <td>{{word.rank_bad}}</td>
        <td>{{word.viewed}}</td>
    </tr>
    </tbody>
</table>

<h2 ng-hide="words.dict">검색 결과가 없습니다</h2>